doctype html
html(lang="en")
	head
		block title
			title Default title
		link(rel='stylesheet', type='text/css', href='../stylesheets/app.css')

	body
		block content
		
		<script src="//localhost:35729/livereload.js"></script>