extends base.jade

block title
	title Feed

block stylesheets
	link(rel='stylesheet', type='text/css', href='../stylesheets/feed.css')

block content
	.feed
		ul
			- var count = 0;
			each tweet in tweets
				if count < 3
					li
						img(src='#{tweet.user.profile_image_url}')
						p
							a(href="http://twitter.com/#{username}", target="_blank") @#{tweet.user.name}
						
						p
							strong #{tweet.text}
				- count++;