extends base.jade

block title
	title Homepage

block stylesheets
	link(rel='stylesheet', type='text/css', href='../stylesheets/app.css')

block content
	h1 Please make sure you are including a username in the URL.
	
	p Example: 
		a(href="#{current_url}/designyourcode") #{current_url}/
			strong designyourcode